<h1>Enter New Recipes</h1>
<<<<<<< HEAD
<form method='POST' action='/recipes'>
=======
<form method='post' action='/recipes'>
>>>>>>> 727615624736c9887d169c7f174777f7457d3a6c
  <label for='name'>Name:</label></br>
  <input type='text' id='name' name='name'></br>
  <label for='ingredients'>Ingredients:</label></br>
  <input type='text' id='ingredients' name='ingredients'></br>
  <label for='cook_time'>Cook Time:</label></br>
  <input type='text' id='cook_time' name='cook_time'></br>
  <input type='submit' id='Submit' value="Submit">
</form>